# HAMOYE_ID :1477b5372c81f000

# NAME : YOGENDRA SINGH SHEKHAWAT

# Data set introduction

The dataset for the remainder of this quiz is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters). The attribute information can be seen below.

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

# importing libraries and dataset

In [3]:
import pandas as pd
import numpy as np

In [4]:
df  =pd.read_csv("/content/energydata_complete (1).csv")

In [5]:
df

                      date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [43]:
df.isnull().sum() # checking for null values

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [7]:
df.info() # checking data types of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [8]:
df_train = df.drop(columns = ["date","lights"])

In [9]:
df_train

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [10]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
df_train.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [12]:
columns = ['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2']

In [13]:
norm = MinMaxScaler()

In [14]:
df_train[columns] = norm.fit_transform(df[columns])

In [15]:
y = df_train["Appliances"]
x = df_train.drop(columns = ["Appliances"])
x

             T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0      0.327350  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1      0.327350  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2      0.327350  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3      0.327350  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4      0.327350  0.531419  0.225345  ...   0.520362  0.201611  0.201611
...         ...       ...       ...  ...        ...       ...       ...
19730  0.926786  0.537657  0.711655  ...   0.901961  0.861981  0.861981
19731  0.919747  0.536006  0.701769  ...   0.900452  0.985726  0.985726
19732  0.919747  0.538666  0.692651  ...   0.898944  0.583979  0.583979
19733  0.919747  0.549491  0.677054  ...   0.897436  0.126371  0.126371
19734  0.919747  0.538758  0.666171  ...   0.895928  0.682391  0.682391

[19735 rows x 26 columns]

In [16]:
print(x.shape)
print(y.shape)

(19735, 26)
(19735,)

In [17]:
df_train.shape

(19735, 27)

# Q12.From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [ ]:
from sklearn.metrics import r2_score
r2_score = r2_score(x_train["T2"], x_train["T6"])
round(r2_score, 2)

0.17

# Train test split

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size =0.30, random_state=42 )

In [19]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

LinearRegression()

In [20]:
predicted_values = linear_model.predict(x_test)

# Q13. What is the Mean Absolute Error (in two decimal places)?

In [21]:
# mean absolute error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

# Q14.What is the Residual Sum of Squares (in two decimal places)?

In [22]:

rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

# Q15.What is the Root Mean Squared Error (in three decimal places)?

In [23]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

# Q16.What is the Coefficient of Determination (in two decimal places)?

In [24]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

# Q17. Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [40]:
def get_weights_df(model, feat, col_name):# function return weights vlaues 
#this function returns the weight of every feature
       weights = pd.Series(model.coef_, feat.columns).sort_values()
       weights_df = pd.DataFrame(weights).reset_index()
       weights_df.columns = ['Features', col_name]
       weights_df[col_name].round(3)
       return weights_df

In [41]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

In [42]:
linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

RH_2,RH_1

#  Q.18 Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [30]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [31]:
predicted_values_ = ridge_reg.predict(x_test)

In [32]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

No, there is no change in RMSE

# Q20.What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)
predicted_values_lasso = lasso_reg.predict(x_test)

In [39]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values_lasso))
round(rmse, 3)

0.094

#Q19. Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [ ]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [36]:
lasso_weights_df

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

4